blockquote Names can name no lasting name. Nameless: the origin of heaven and earth. Naming: the mother of ten thousand things. Empty of desire, perceive mystery. Filled with desire, perceive manifestations. These have the same source, but different names. Call them both deep— Deep and again deep: The gateway to all mystery.
  cite Tao Te Ching, 道可道非常道
  // (Stephen Addiss & Stanley Lombardo Translation)
blockquote There was neither death nor immortality, nor was there then the torch of night and day. The One breathed windlessly and self-sustaining. There was that One then, and there was no other. At first there was only darkness wrapped in darkness. All this was only unillumined water. That One which came to be, enclosed in nothing, arose at last, born of the power of heat.
  cite Rigveda, Nasadiya Sukta
  // (A. L. Basham Translation)
blockquote In the beginning God created the heaven and the earth. And the earth was without form, and void; and darkness was upon the face of the deep. And the Spirit of God moved upon the face of the waters. And God said, Let there be light: and there was light.
  cite King James Bible, Genesis
