style.
  #title {
    font-weight: bold;
  }


section
  h1 Edit.

  button#download download
  input(type="text" placeholder="title")#title
  textarea(placeholder="text")#text
  p
    code#chars -
    span 
    code#words -

script
  include download.js
