<IfModule mod_headers.c>
	<FilesMatch "\.(gif|png|jpe?g|svg|svgz|ico|webp|ttf|eot|woff|woff2|css|)$">
		SetEnvIf Origin ":" IS_CORS
		Header set Access-Control-Allow-Origin "*" env=IS_CORS
	</FilesMatch>
</IfModule>