doctype
html(itemscope itemtype="http://schema.org/CreativeWork" lang="en")
	head			
		block meta
			title #{title}
			meta(charset="utf-16")
			meta(description="#{description}")
			link(rel="icon" type="image/x-icon" href="favicon.ico")
			meta(name="viewport" content="width=device-width, initial-scale=1")

		block preload

		block styles
			//link(rel="stylesheet" href="../../style/index.css")

	body
		include _nav
		!= yield
