doctype
html(itemscope itemtype="http://schema.org/CreativeWork" lang="en")
	head
		// meta
		title #{title}
		meta(charset="utf-16")
		meta(description="#{description}")
		link(rel="icon" type="image/x-icon" href="favicon.ico")

		// display
		meta(name="viewport" content="width=device-width, initial-scale=1")

		// CSS
		// fonts
		link(rel="stylesheet" href="style/fonts/montserrat/style.css")
		link(rel="stylesheet" href="style/fonts/mzxio/style.css")
		link(rel="stylesheet" href="style/fonts/VOX-2015/style.css")

		// libraries
		link(rel="stylesheet" href="style/library/swiper-3.3.1.min.css")

		// styles
		link(rel="stylesheet" href="style/index.css").theme
		//link(rel="stylesheet" href="style/theme-dark.css" media="screen" disabled).theme

		// JS
		// libraries
		script(src="script/library/jquery-2.2.0.min.js")
		script(src="script/library/swiper-3.3.1.jquery.min.js")
		//script(src="script/library/imagesloaded.pkgd.min.js")
		//script(src="script/library/packery.pkgd.min.js")


		// jade extension block
		block head

	body

		!= partial("_shared/nav")
		!= yield


		// scripts
		script(src="script/index.js")
