doctype
html(itemscope itemtype="http://schema.org/CreativeWork" lang="en")
	head
		block meta
			title #{title}
			meta(charset="utf-16")
			meta(description="#{description}")
			link(rel="icon" type="image/x-icon" href="favicon.ico")
			meta(name="viewport" content="width=device-width, initial-scale=1")

		style.
			#loader { height: 1em; width: 1em; text-align: center; position: fixed; top: 0; right: 0; background: magenta; z-index: 10; }

		script.
			document.addEventListener("DOMContentLoaded", function(event) {
				console.log("loaded")
				document.querySelectorAll("#loader")[0].style.display = "none";
			});

		block styles
			link(rel="stylesheet" href="../../style/base.css")
			link(rel="stylesheet" href="../../style/index.css")

		block preload
			//script(src="../../script/library/jquery-2.2.0.min.js")
			//link(rel="stylesheet" href="../../style/library/swiper-3.3.1.min.css")
			//script(src="../../script/library/swiper-3.3.1.min.js")


	body
		#loader ...

		include _shared/nav

		#index.fixed.collapsed
			include _shared/category.jade

		!= yield

		script
			include script/base.js
