doctype
html(itemscope itemtype="http://schema.org/CreativeWork" lang="en")
	head
		// meta
		title #{title}
		meta(description="#{description}")
		link(rel="icon" type="image/x-icon" href="favicon.ico")

		// display
		meta(name="viewport" content="width=device-width, initial-scale=1")

		// fonts
		link(rel="stylesheet" href="style/fonts/montserrat/style.css")
		link(rel="stylesheet" href="style/fonts/mzxio/style.css")
		link(rel="stylesheet" href="style/fonts/VOX-2015/style.css")

		// styles
		link(rel="stylesheet" href="style/index.css")
		link(rel="stylesheet" href="style/theme-dark.css" media="screen" disabled).theme
		link(rel="stylesheet" href="style/theme-light.css" media="screen" disabled).theme

		// jade extension block
		block head

	body
		!= partial("_shared/nav")
		!= yield

		// libraries
		script(src="script/library/jquery-2.2.0.min.js")
		script(src="script/library/imagesloaded.pkgd.min.js")
		script(src="script/library/packery.pkgd.min.js")

		// scripts
		script(src="script/index.js")
