


nav.noPrint
	logo(title="43210"): a(href="/") MZXIO
	links
		ul
			mixin bar(url, title, icon)
				li
					a(href=url title=title)
						span.label=title
						span(class=icon)

			+bar("section/here", "HERE", "vox-inked-right")
			+bar("section/progress", "PROGRESS", "vox-inked-left")
			+bar("section/statement", "ARTIST STATEMENT", "vox-info")
