
section
	h1 You are here.
	iframe(src="section/nsfw")

!= partial("section/slides")

section.interstice
	blockquote In the void, desert, wasteland, an infinite desolate frontier. Where and when? Your choices make this land. Nothingness and potential are there, just out of reach. Life is hidden, revealed only if you look.
		cite 451451
