
#intro.stickyNav
	#splash MZXIO

#longer

	section#annihilation
		h2 ARTIST STATEMENT
		p For at least fifty thousand years, human beings carved familiar shapes into whatever material was close at hand. The artist continues in this grand tradition.
		p Art seeks being in non-being, thing-ness from no-thing-ness. Life keeps the lights on, sweeps the floors, tells the stories. Life emerged as glitch, a rounding error while some organic molecules sought comfortable repose. Thus the artist embraces glitch and all things transcendent, ordered, numerical, insane. Here, now; past, future; history, imagination: no being is too small, no story irrelevant. Life is the audience, creation is the canvas. The artist peers into spaces between space, seeking seeds of creation. Entropy consumes all. It keeps going. There won't be any turning back. When you look behind you, you'll see it catching up. There is no other way. All may eventually come to ruin and dust, all the same. Venture deep into oblivion. Go as far as you dare. Bring back inspiration. Even in the dying light of the void, the artist writes its name upon the wall.
		p Art is but an affirmation: not dead yet.
		a(onClick="location.reload()").button Reset

	section#beginning
		h2 YOU ARE HERE



	.swiper-container
		.swiper-wrapper
			.swiper-slide
				img(src="img/tumblr_n2gp78dofg1tro3g4o1_1280.jpg")
			.swiper-slide
				img(src="img/tumblr_n2gooouyx61tro3g4o1_1280.jpg")
			.swiper-slide
				img(src="img/tumblr_n2gooouyx61tro3g4o3_1280.jpg")
			.swiper-slide
				img(src="img/tumblr_n2gooouyx61tro3g4o2_1280.jpg")
		.swiper-button-next
		.swiper-button-prev






	section#dedication
		h4 for you.

	section#key
		form(action="code/" method="get").key
			p#message ######
			input(type="text" name="code" value="" maxlength="6" readonly="readonly" placeholder="------")#display
			table#keypad
				tr
					td: button(onclick="addCode('3')") 3
						span.braille ⠼⠉
					td: button(onclick="addCode('2')") 2
						span.braille ⠼⠃
					td: button(onclick="addCode('1')") 1
						span.braille ⠼⠁
					td: button(onclick="addCode('0')") 0
						span.braille ⠼⠚
				tr
					td: button(onclick="addCode('4')") 4
						span.braille ⠼⠙
					td: button(onclick="addCode('5')") 5
						span.braille ⠼⠑
					td: button(onclick="addCode('6')") 6
						span.braille ⠼⠋
					td: button(onclick="addCode('7')") 7
						span.braille ⠼⠛
				tr
					td: button(onclick="addCode('B')") B
						span.braille ⠃
					td: button(onclick="addCode('A')") A
						span.braille ⠁
					td: button(onclick="addCode('9')") 9
						span.braille ⠼⠊
					td: button(onclick="addCode('8')") 8
						span.braille ⠼⠓
				tr
					td: button(onclick="addCode('C');") C
						span.braille ⠉
					td: button(onclick="addCode('D');") D
						span.braille ⠙
					td: button(onclick="addCode('E');") E
						span.braille ⠑
					td: button(onclick="addCode('F');") F
						span.braille ⠋
				tr
					td(colspan="4"): button(type="reset" onclick="emptyCode();") CLEAR
						span.braille ⠆⠉⠇





	section#next
		//h2 Unsolved Cases|||for post, slug in public.cases._data|||p: a(href="cases/#{slug}")= post.title
		//h2 Posts|||for post, slug in public.posts._data|||p: a(href="posts/#{slug}")= post.title

		//h2 Directory
		//pre #{ JSON.stringify(public, null, '\t') }

		//.gallery:::for image in public.gallery.small._contents:::img(src="gallery/small/#{ image net}").piece


script.
	var swiper = new Swiper('.swiper-container', {
		centeredSlides: true,
		grabCursor: true,
		keyboardControl: true,
		loop: true,
		nextButton: '.swiper-button-next',
		prevButton: '.swiper-button-prev',
		scrollbarHide: true,
		slidesPerView: 'auto',
		spaceBetween: 18
	});
