!= partial("_nav")

#intro.fullHeight.noPrint
	#category
		ul
			//li: span.vox-information
			for thing, slug in public.section._data
				li: a(href="section/#{slug}") #{thing.name}
	#splash MZXIO	
	//Σ

#content.fullHeight
	!= partial("section/front")
