
#intro.stickyNav
	#splash MZXIO
	#info

#longer

	section
		h1 You are here.
		iframe(src="section/nsfw")

	!= partial("section/slides")

	//section.interstice
		blockquote In the void, desert, wasteland, an infinite desolate frontier. Where and when? Your choices make this land. Nothingness and potential are there, just out of reach. Life is hidden, revealed only if you look.
			cite 010000

	!= partial("manuscript/contents")

	section#key.fullHeight.fullWidth
		!= partial("section/keypad")

	///section|||for area, slug in public.garden._data|||p: a(href="garden/#{slug}")= area.code

	section#statement.fullHeight
		!= partial("section/statement")

	section#dedication.fullHeight
		h6.centered.fullWidth for you, luminous starstuff. bless you.
			//#sixwords <2 rʉɑːn·mɒksiːm
