
#intro.stickyNav
	#splash MZXIO

#longer

	section.interstice
		blockquote In the void, desert, wasteland, an infinite desolate frontier. Where and when? Your choices make this land. Nothingness and potential are there, just out of reach. Life is hidden, revealed only if you look.
			cite 010000

	.swiper-container
		.swiper-wrapper
			for image in public.section.you_are_here._contents
				.swiper-slide
					//p what happens if.....
					img(src="section/you_are_here/#{image}")
		.swiper-button-next
		.swiper-button-prev

	section
		h1 You are here.
		iframe(src="section/nsfw")

	//!= partial("section/contents")

	section#key.fullHeight.fullWidth
		!= partial("section/keypad")

	section#statement.fullHeight
		!= partial("section/statement")

	section#dedication.fullHeight
		h6.centered for you, luminous starstuff. bless you.
			//#sixwords <2



script.
	var swiper = new Swiper('.swiper-container', {
		centeredSlides: true,
		grabCursor: true,
		keyboardControl: true,
		loop: true,
		nextButton: '.swiper-button-next',
		prevButton: '.swiper-button-prev',
		scrollbarHide: true,
		slidesPerView: 'auto',
		spaceBetween: 18,
		//autoplay: 30000,
		//autoplayDisableOnInteraction: true
	});
