#intro
	#splash MZXIO

	

#longer


	section
		//h1 Begin

		!= partial("/begin.md")

	section
		for post, slug in public.cases._data
			p: a(href="/cases/#{slug}")= post.title

		//pre #{ JSON.stringify(public, null, '\t') }
