#index

	#category
		h3 INDEX

		//ul
			//each value, key in public.section
				//if (['_contents', '_data'].indexOf(key) == -1)				
					//li: a(href="section/#{key}").top= key 
						//each thing, other in public.section[key]
							//if (['_contents', '_data'].indexOf(other) == -1)
								//li: a(href="section/#{key}/#{other}")= other 

		h3 EXPERIMENTS
		ul
			li
				a(href="section/edit") Unno Edit
				| 
				| simple text editor
			li
				a(href="section/graphs") Graphdown
				| 
				| minimal graphing language for mindmapping and planning
			li
				a(href="section/zen") Zen RGB
				| 
				| toy for playing in hex colors

		h3 WRITING
		ul
			li
				a(href="section/progress") Progress
				| 
				| daily practice, surrealist free association in 216 parts



#content
	#intro

		h1#splash ΣNXIO
			//ΣNX·IO
			//117.5
