!= partial("_nav")

#intro.fullHeight.noPrint
	section#category
		h6 Directory
		for thing, slug in public.section._data
			p: b  #{thing.name}
			//p: a(href="section/#{slug}") #{thing.name}
	#splash MZXIO	
	//Σ

#content.fullHeight
	!= partial("section/front")
