
#intro
	#splash MZXIO

#longer
	section
		h1 You are here.

		h2 Unsolved Cases
		for post, slug in public.cases._data
			p: a(href="cases/#{slug}")= post.title

		.gallery
			for image in public.gallery.small._contents
				img(src="gallery/small/#{ image }").piece

		//h2 Posts
		//for post, slug in public.posts._data
			p: a(href="posts/#{slug}")= post.title

		//h2 Directory
		//pre #{ JSON.stringify(public, null, '\t') }
