#intro.fullHeight.noPrint

	h1#splash ΣNXIO
		//ΣNX·IO
		//117.5


//#content.fullHeight
	//h4.centered (this space intentionally left blank)

	//.centered
		//h4 MZXIO
			//a(href="https://twitter.com/mzxio" target="_blank") @mzxio
			p in association with 
				a(href="http://somethingformed.com") SF*	

		//#dedication(style="opacity: 0.4;")
			h5 for you 
				//			luminous starstuff, bless you. #sixwords <2
