#intro.fullHeight
	#splash MZXIO



#longer.fullHeight
	!= partial("front")
	//!= partial("section/manuscript/contents")

//#later
	section#key.fullHeight
		!= partial("section/keypad")

		!= partial("section/garden/codes")
