//#intro
	#splash MZXIO
	#info

#longer
	!= partial("front")
	//!= partial("section/manuscript/contents")

#later
	section#key.fullHeight
		!= partial("section/keypad")
		//p///for area, slug in public.section.garden._data///a(href="garden/#{slug}")= area.code///| , 
