doctype
html
	head
		// meta
		meta(charset="utf-8")
		title("swiper demo")

		// display
		meta(name="viewport" content="width=device-width, initial-scale=1")

		// styles
		link(rel="stylesheet" href="style/swiper.css")

		style.
			body {
				background: #888;
				margin: 0;
				padding: 0;
			}
			.swiper-container {
				margin: 0 auto;
				width: 100%;
			}
			.swiper-slide {
				width: 80%;
				transition: all 0.25s;
			}
			.swiper-slide-active {
				opacity: 1;
			}
			.swiper-slide-next, .swiper-slide-prev {
				opacity: 0.5;
			}
			.swiper-slide img {
				width: 100%;
			}


			// libraries
			script(src="script/library/jquery-2.2.0.min.js")
			script(src="script/library/swiper.jquery.min.js")

	body
		.swiper-container
			.swiper-wrapper
				.swiper-slide
					img(src="img/tumblr_n2gp78dofg1tro3g4o1_1280.jpg")
				.swiper-slide
					img(src="img/tumblr_n2gooouyx61tro3g4o1_1280.jpg")
				.swiper-slide
					img(src="img/tumblr_n2gooouyx61tro3g4o2_1280.jpg")
			.swiper-button-next
			.swiper-button-prev

		script.
			var swiper = new Swiper('.swiper-container', {
				centeredSlides: true,
				grabCursor: true,
				keyboardControl: true,
				loop: true,
				nextButton: '.swiper-button-next',
				prevButton: '.swiper-button-prev',
				scrollbarHide: true,
				slidesPerView: 'auto',
				spaceBetween: 18
			});
