head
  meta(name="viewport" content="width=device-width, initial-scale=1")

style
  include graphs.css

h1 graphs.


textarea.
  here --- there, everywhere
  there --- everywhere
  everywhere --- crossroads
  crossroads --- somewhere, nowhere
button(onClick="drawGraph( dm.parse(document.querySelectorAll('textarea')[0].value) );") graph it


#graph

script
  include ../../script/library/d3.min.js
  include directed-markdown.js
  include d3-force.js
