style.
  body {
    background-color: #222;
    color: white;
    margin: 0;
  }
  textarea {
    background-color: #111;
    color: inherit;
    width: 100%;
    height: 16em;
    resize: none;
    font-size: 1em;
    border: none;
    outline: none;
    padding: 1em;
    margin: 0 auto;
  }
  .node {
  fill: red;
    stroke: #999;
    stroke-width: 2pt;
  }
  .node:hover circle {
    fill: orange;
  }
  .link {
    stroke: #999;
    stroke-width: 2pt;
  }
  button {
    background-color: gray;
    border: none;
    font-size: 1em;
    outline: none;
  }
  button:hover {
    background-color: silver;
  }
  button:active {
    background-color: white;
  }
  svg {
    //background: gray;
    //color: white;
    font-family: sans-serif;
    user-select: none;
  }


h1 graphs.
button(onClick="drawGraph( dm.parse(document.querySelectorAll('textarea')[0].value) );") grab it

textarea.
  here---there
  there---everywhere
  everywhere---crossroads
  crossroads---somewhere,downtown

script(src="../../script/library/d3.min.js")
script(src="directed-markdown.js")
script(src="force-directed-2.js")
