style
  include graphs.css

h1 Graphs.

button(onClick="drawGraph( dm.parse(document.querySelectorAll('textarea')[0].value) );") graph it

textarea.
  here --- there, everywhere
  there --- everywhere
  everywhere --- crossroads
  crossroads --- somewhere, nowhere


#graph

script
  include ../../script/library/d3.min.js
  include directed-markdown.js
  include d3-force.js
