
section
  h1 ODESSA

//- var chapterNumber = 0
for entry, slug in public.section.odessa._data 
  //- chapterNumber++
  section.interstice
    //h2 #{chapterNumber}.
    h3 #{entry.title}
    != partial(slug)
  hr
