
.book

  .page.cover
    h1.centered ODESSA

  - var pageNumber = 0
  for entry, slug in public.section.odessa._data 
    - pageNumber++
    .page
      p #{pageNumber}.
      h3 #{entry.title}
      != partial(slug)
