
.book

  .page.cover
    h1.centered ODESSA

  - var count = 0
  for entry, slug in public.section.odessa._data 
    - count++
    .page
      p #{count}.
      h3 #{entry.title}
      != partial(slug)
