section#begin
  h2 1.
  != partial("posts/begin")

section.interstice
  blockquote Names can name no lasting name. Nameless: the origin of heaven and earth. Naming: the mother of ten thousand things. Empty of desire, perceive mystery. Filled with desire, perceive manifestations. These have the same source, but different names. Call them both deep— Deep and again deep: The gateway to all mystery.
    cite 道可道非常道, Tao Te Ching
    // (Stephen Addiss & Stanley Lombardo Translation)
  blockquote There was neither death nor immortality, nor was there then the torch of night and day. The One breathed windlessly and self-sustaining. There was that One then, and there was no other. At first there was only darkness wrapped in darkness. All this was only unillumined water. That One which came to be, enclosed in nothing, arose at last, born of the power of heat.
    cite Nasadiya Sukta, Rigveda
    // (A. L. Basham Translation)
  blockquote In the beginning God created the heaven and the earth. And the earth was without form, and void; and darkness was upon the face of the deep. And the Spirit of God moved upon the face of the waters. And God said, Let there be light: and there was light.
    cite Genesis, King James Bible

section#nowhere
  h2 2.

section#second
  h2 3.
  != partial("posts/second")

section.interstice
  blockquote When something new is happening, you have to be down with it if you want to stay around. You ain't got time for no begrudging.
    cite George Clinton
  blockquote Spencer offered an offhand explanation, over beer one night. In an expanding universe, Spencer had said, order was not really order, but merely the difference between the actual exhibited and the maximum entropy possible. This difference was what humans perceived as order.
    cite Blue Mars, Kim Stanley Robinson
  blockquote What did it matter where you lay once you were dead? In a dirty sump or in a marble tower on top of a high hill? You were dead, you were sleeping the big sleep... Oil and water were the same as wind and air to you. You just slept the big sleep, not caring about the nastiness of how you died or where you fell. Me, I was part of the nastiness now.
    cite The Big Sleep, Raymond Chandler
