//h4.centered (this space intentionally left blank)

.centered
  //h4 MZXIO
  p: b Art by 
    a(href="https://twitter.com/mzxio" target="_blank") Roen Stern
      // @mzxio
      // p in association with 
      // a(href="http://somethingformed.com") Something Formed Media  
    #dedication(style="opacity: 0.1;")
      b for you. luminous starstuff, bless you.
        //                                         #sixwords <2
      p: small (MZXIO = 43210)
