section#statement.fullHeight
  != partial("statement")

section#dedication.fullHeight
  h6.centered.fullWidth for you
  // luminous starstuff. bless you.
  //      #sixwords <2
  //     mɒksiːm·rʉɑːn
