form(action="javascript:console.log( 'frob' );" method="get").key.centered
  p#message ######
  input(type="text" name="code" value="" maxlength="6" readonly="readonly" placeholder="------")#display
  table#keypad
    tr
      td: button(onclick="addCode('3')") 3
        span.braille ⠼⠉
      td: button(onclick="addCode('2')") 2
        span.braille ⠼⠃
      td: button(onclick="addCode('1')") 1
        span.braille ⠼⠁
      td: button(onclick="addCode('0')") 0
        span.braille ⠼⠚
    tr
      td: button(onclick="addCode('4')") 4
        span.braille ⠼⠙
      td: button(onclick="addCode('5')") 5
        span.braille ⠼⠑
      td: button(onclick="addCode('6')") 6
        span.braille ⠼⠋
      td: button(onclick="addCode('7')") 7
        span.braille ⠼⠛
    tr
      td: button(onclick="addCode('B')") B
        span.braille ⠃
      td: button(onclick="addCode('A')") A
        span.braille ⠁
      td: button(onclick="addCode('9')") 9
        span.braille ⠼⠊
      td: button(onclick="addCode('8')") 8
        span.braille ⠼⠓
    tr
      td: button(onclick="addCode('C');") C
        span.braille ⠉
      td: button(onclick="addCode('D');") D
        span.braille ⠙
      td: button(onclick="addCode('E');") E
        span.braille ⠑
      td: button(onclick="addCode('F');") F
        span.braille ⠋
    tr
      td(colspan="3"): button(type="reset" onclick="emptyCode();") CLEAR
        span.braille ⠆⠉⠇
