- var chapterNumber = 0
for thing, slug in public.section.twosixteen._data  
  - chapterNumber++


section
  #chart
    p.centered: b
      span #{chapterNumber} 
        | of 216



#progress
  for thing, slug in public.section.twosixteen._data  
    section
      p #{thing.title}
      != partial(slug)


style.
  #chart {
    text-align: center;
  }


script(src="../script/progress.js")
