.swiper-container
  .swiper-wrapper
    for image in public.section.you_are_here._contents
      .swiper-slide
        //p what happens if.....
        img(data-src="section/you_are_here/#{image}").lazy
  .swiper-button-next
  .swiper-button-prev

script.
  var swiper = new Swiper('.swiper-container', {
    centeredSlides: true,
    grabCursor: true,
    keyboardControl: true,
    loop: true,
    nextButton: '.swiper-button-next',
    prevButton: '.swiper-button-prev',
    scrollbarHide: true,
    slidesPerView: 'auto',
    spaceBetween: 18,
    //autoplay: 30000,
    //autoplayDisableOnInteraction: true
  });
