@media all {
  body {
    font-size: 12pt;
    line-height: 1.125;
  }
}

@media screen {
  body {
    margin: 1em;
  }
  img {
    max-width: 100%;
  }
}

@media print {
  body {
    margin: 0;
  }
}
@page {}
