@import "variables";

input[type="text"],
input[type="number"] {
  background: fadeout(@main, 95%);
  border: none;
  border-left: 0.4em solid fadeout(@main, 75%);
  color: inherit;
  font-size: 1em;
  font-family: @console;
  outline: none;
  padding: 0.5em;
  width: 100%;
  &:hover {
    border-color: @main;
  }
  &:focus {
    border-color: fadeout(@main, 75%);
  }
  &:active,
  &:focus:active {
    border-color: @accent;
  }
}

::placeholder {
  color: fadeout(@main, 50%);
}

textarea {
  margin: 2em 0;
	padding: 0.5em;
	background: fadeout(@main, 95%);
  color: inherit;
  width: 100%;
  min-height: 9em;
  resize: none;
  font-size: 1em;
  font-family: @console;
  border: none;
  border-left: 0.4em solid fadeout(@main, 75%);
  overflow-y: auto;
  outline: none;
  margin: 0 auto;
  &:hover {
    border-color: @main;
  }
  &:focus {
    border-color: fadeout(@main, 75%);
  }
  &:active,
  &:focus:active {
    border-color: @accent;
  }
}



button,
input[type="button"] {
  background-color: fadeout(@main, 70%);
  border: none;
  color: @base;
  font-size: 1em;
  font-weight: bold;
  padding: 0 0.5em;
  line-height: 2;
  user-select: none;
  outline: none;
  &:hover {
    background-color: @main;
  }
  &:focus {
    background-color: fadeout(@main, 70%);
  }
  &:active,
  &:focus:active {
    background-color: @accent;
  }
}


iframe {
  border: none;
}
