@import "variables";

textarea {
  background-color: #111;
  color: inherit;
  width: 100%;
  height: 16em;
  resize: none;
  font-size: 1em;
  font-family: @console;
  border: none;
  outline: none;
  padding: 1em;
  margin: 0 auto;
}

button {
  background-color: silver;
  border: none;
  font-size: 1em;
  outline: none;
}
button:hover {
  background-color: yellow;
}
button:active {
  background-color: white;
}
