/*** INIT */
@import "variables";
//@import "reset";

@import url("fonts/mzxio/style.css");
//@import url("fonts/montserrat/style.css");
@import url("fonts/VOX-2015/style.css");

/*** BASE */
body {
	background: @base;
	color: @main;
	font-family: @copy;
	font-size: @typeset;
	line-height: @baseline;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
::selection {
	background-color: @accent;
	color: @dark;
}

/*** COMPONENTS */
@import "layout";
@import "typography";
@import "forms";
@import "nav";

/*** MEDIA */
//@import "screen";
//@import "print";

/*** THEME */
// @import "theme-name";
