@import url(reset.less);

// todo: abstract out colors so themes can live in smaller files

// base colors
@dark: rgb(11,11,11);
@light: rgb(232,232,232);
@yellow: rgb(254,235,23);

// change these for theme
@base: @dark; 
@main: @light;
@accent: @yellow;

// font stack
@heading: "Montserrat", sans-serif;
@copy: "Source Sans Pro", sans-serif;
@console: "Ubuntu Mono", monospace;

* {
	box-sizing: border-box;
}

body {
	background: @base;
	color: @main;
	font-family: @copy;
	font-size: 18px;
	line-height: 1.5;
	margin-top: 120px;
	transition: all 0.5s;
	-webkit-font-smoothing: antialiased;
}

::selection {
	background-color: @yellow;
	color: @dark;
}

nav {
	box-shadow: 0 0.1em 0 fadeout(@main, 90%);
	background: fadeout(@base, 2%);
	color: fadeout(@main, 30%);
	display: flex;
	justify-content: space-between;
	width: 100%;
	height: 40px;
	transition: all 0.3s;
	z-index: 99;
	position: absolute;
	left: 0;
	bottom: 0;
	// make fixed top for classic sticky top style
	// or absolute bottom with .fixed class for fancy scroll-to-top
}

.fixed {
	position: fixed !important;
	top: 0;
}

#logo {
	font-size: 19px;
	line-height: 38px;
	font-family: "MZXIO";
	letter-spacing: 0;
	font-weight: normal;
	cursor: default;
	user-select: none;
	a {
		background: transparent;
		color: inherit;
		text-decoration: none;
	}
}

#links {
	font-size: 20px;
	user-select: none;
	ul {
		display: inline-block;
		padding: 0;
		li {
			display: inline-block;
			margin-right: 1em;
		}
	}
	a {
		background: transparent;
		color: inherit;
		text-decoration: none;
		&:after {
			content: "";
			transition: all 180ms;
			background: fadeout(@main, 80%);
			opacity: 0;
			height: 1.5em;
			width: 1.5em;
			display: inline-block;
			margin-left: -1.25em;
			border-radius: 50%;
			position: relative;
			top: 0.3em;
		}
		&:hover:after {
			opacity: 0.5;
		}
		&:active:after {
			opacity: 1;
		}
	}
}


#intro {
	background: @light;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: -1;
}

#splash {
	background-color: white;
	//]background-image: url(images/sky__nyc_variant_converted_32px.gif);
	background-image: url(images/tiger-gullet.png);
	//image-rendering: pixelated;// if you want pixels 
	background-position: 50% 30%;
	background-size: 120%;
	-webkit-text-fill-color: transparent;
	-webkit-background-clip: text;
	font: 18vmax/.85 @heading;
	font-weight: 700;
	letter-spacing: 0.05em;
	text-align: center;
	text-transform: uppercase;
	white-space: nowrap;
	z-index: -1;
	.centered;
}

#longer {
//	background: @dark;
//	color: @light;
	position: absolute;
	top: 100%;
	left: 0;
//	height: 400%;
	width: 100%;
	padding: 6em 1em;
}

section {
	min-width: 400px;
	max-width: 70%;
	margin: 0 auto;
}


/*
TYPOGRAPHY
*/

h1, h2, h3, h4, h5, h6 {
	font-family: @heading;
	line-height: 1.25;
	margin: 18px 0 12px;
	word-break: normal;
}

h1 {
	font-size: 78px;
	font-weight: 800;
}

h2 {
	font-size: 64px;
	font-weight: 200;
	opacity: 0.8;
}

h3 {
	font-size: 42px;
	font-weight: 600;
	opacity: 0.4;
}

h4 {
	font-size: 32px;
	font-weight: 300;
	opacity: 0.8;
}

h5 {
	font-size: 22px;
	font-weight: 700;
	opacity: 0.5;
}

h6 {
	font-size: 22px;
	font-weight: 400;
	opacity: 0.3;
}

hr {
	border: 2px solid fadeout(@main, 90%);
	margin: 2em 0;
}

p {
	font-size: 1em;
	margin-bottom: 1em;
}

a {
	background: linear-gradient(
		transparent 90%,
		fadeout(@main, 70%) 90%
	);
	color: inherit;
	text-decoration: none;
	&:hover {
		background: linear-gradient(
			transparent 90%,
			fadeout(@main, 30%) 90%
		);
	}
	&:active {
		background: linear-gradient(
			transparent 90%,
			@main 90%
		);
	}
}

strong, b {
	font-weight: bold;
}

em, i {
	font-style: italic;
}

del {
	text-decoration: strikethrough;
}

blockquote {
	margin: 1em 0;
	border-left: 6px solid fadeout(@main, 75%);
	padding: 1em;
	font-style: italic;
	background: fadeout(@main, 95%);
	p {
		margin-bottom: 0;
	}
}

ul, ol {
	color: @main;
	padding-left: 1.5em;
	li {
		line-height: 1.5;
	}
}

ul {
	list-style-type: disc;
	ul {
		list-style-type: circle;
		ul {
			list-style-type: square;
		}
	}
}

ol {
	list-style-type: decimal;
	ol {
		list-style-type: lower-latin;
		ol {
			list-style-type: lower-roman;
		}
	}
}

code, pre {
	color: fadeout(@main, 20%);
	font-family: @console;
}

code {
	background: fadeout(@main, 90%);
	border-radius: 4px;
	padding: 0 0.2em;
}

pre {
	background: fadeout(@main, 95%);
	padding: 1em 1.5em;
	code {
		background: transparent;
		padding: 0;
	}

}

table {
	border-collapse: collapse;
	border-spacing: 0;
	font-size: 1em;
	th {
		text-align: left;
		font-weight: bold;
		padding: 0.5em;
	}
	td {
		padding: 0.5em;
		border-top: 2px solid fadeout(@main, 90%);
	}
}

img {}

/*
UTILITIES
*/

.centered {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translateX(-50%) translateY(-50%);
}




