@import url(reset.less);

@import "variables";

* {
	box-sizing: border-box;
	outline: 0;
}

body {
	background: @base;
	color: @main;
	font-family: @copy;
	font-size: 14pt;
	line-height: 1.326;
	-webkit-font-smoothing: antialiased;
}

::selection {
	background-color: @accent;
	color: @dark;
}

@import "layout";

@import "typography";

@import "navigation";

#intro {
	background: fadeout(@light, 99%);
	position: relative;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	transition: all 300ms ease-in-out;
	z-index: -1;
	overflow: hidden;
}

#splash {
	background-color: white;
	//background-image: url(backgrounds/sky__nyc_variant_converted_32px.gif);
	background-image: url(backgrounds/tiger-gullet.png);
	image-rendering: pixelated;// if you want pixels
	background-position: 50% 30%;
	background-size: 120%;
	-webkit-text-fill-color: transparent;
	-webkit-background-clip: text;
	font: 20vw/.85 @heading;
	font-weight: 800;
	letter-spacing: 0.05em;
	text-align: center;
	text-transform: uppercase;
	white-space: nowrap;
	z-index: -1;
	.centered;
	position: absolute;
  left: 50%;
  top: 50%;
}

#longer {
	//background: @dark;
	//color: @light;
	position: absolute;
	top: 100%;
	left: 0;
	width: 100%;
}



/***
ANNIHILATION
*/

.annihilation {
	word-wrap: break-word;
}


/*** SWIPER LIBRARY */

@import "swiper";


/*** KEYPAD */

@import "keypad";





/*** MEDIA QUERIES */

@media screen and (max-width: 800px) {
	body {
		font-size: 12pt;
	}
	#splash {
		font-size: 20vh;
		transform: rotate(90deg) translate(0,165%);
		transform-origin: top;
	}
}

@media screen and (max-width: 480px) {
	body {
		font-size: 10pt;
	}
	section,
	.swiper-slide {
		width: 80%;
	}
}
