
// DOM ELEMENTS //

section {
	padding: 0;
	margin: 0 auto;
	width: 70%;
	max-width: 36em;
	position: relative;
}

p {
	font-size: 1em;
	margin-bottom: 1em;
}

img {
	max-width: 100%;
}

iframe {
	width: 100%;
	min-height: 12em;
}


// UTILITY CLASSES //

.centered {
  position: absolute;
  left: 50%;
  top: 50%;
	text-align: center;
	transform: translate(-50%, -50%);
}

.fullWidth {
	width: 100%;
	max-width: 100%;
}

.interstice {
	margin: 8em auto;
}

// ???
//.book {}
//.page {}
