
//  colors  //
@dark: rgb(11,11,11);
@light: rgb(232,232,232);
@yellow: rgb(254,235,23);
@magenta: rgb(244, 18, 232);

//  theme  //
@base: @light;
@main: @dark;
@accent: @magenta;

//  type  //
@typeset: 12pt;
@baseline: 1.326;

//  fonts  //
@heading: sans-serif;//"Montserrat", sans-serif;
@copy: sans-serif;//"Source Sans Pro", sans-serif;
@console: "Ubuntu Mono", monospace;

//  printing  //
@print-width: 5in;
@print-height: 7in;
@print-margin: 0.5in;
@print-bleed: 0.125in;
