
// theme //
@dark: rgb(11,11,11);
@light: rgb(232,232,232);
@yellow: rgb(254,235,23);

// base colors //
@base: @dark;
@main: @light;
@accent: @yellow;

// font stack //
@heading: "Montserrat", sans-serif;
@copy: "Source Sans Pro", sans-serif;
@console: "Ubuntu Mono", monospace;
