<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>resolutionData</key>
	<dict>
		<key>sheetClusters</key>
		<dict>
			<key>Untitled.md</key>
			<dict>
				<key>lastModification</key>
				<real>488150351.256935</real>
				<key>version</key>
				<dict>
					<key>b8a93c9ba379c504753df962f543d3d85e57bb413a5b13754fc3227dc0e7c6de</key>
					<integer>8</integer>
				</dict>
			</dict>
			<key>p1.md</key>
			<dict>
				<key>lastModification</key>
				<real>488003023.529881</real>
				<key>version</key>
				<dict>
					<key>b8a93c9ba379c504753df962f543d3d85e57bb413a5b13754fc3227dc0e7c6de</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>p2.md</key>
			<dict>
				<key>lastModification</key>
				<real>488003214.99890101</real>
				<key>version</key>
				<dict>
					<key>b8a93c9ba379c504753df962f543d3d85e57bb413a5b13754fc3227dc0e7c6de</key>
					<integer>6</integer>
				</dict>
			</dict>
		</dict>
	</dict>
	<key>sheetClusters</key>
	<array>
		<array>
			<string>Untitled.md</string>
		</array>
		<array>
			<string>p1.md</string>
		</array>
		<array>
			<string>p2.md</string>
		</array>
	</array>
	<key>storeFormatVersion</key>
	<integer>1</integer>
	<key>versioning</key>
	<dict>
		<key>sheetClusters</key>
		<dict>
			<key>b8a93c9ba379c504753df962f543d3d85e57bb413a5b13754fc3227dc0e7c6de</key>
			<integer>8</integer>
		</dict>
	</dict>
</dict>
</plist>
