h1 Oiximal.


form#conversion(action="javascript: convert();")
	input#toConvert(type="number" size="6")
	button(type="submit") convert

section
	#converted


section
	h3 Key

	p Use the box to convert dec to oix. Or use oix(count) in console for more options.

	table
		tr
			td 0
			td O
			td
		tr
			td 1
			td I
			td
		tr
			td 2
			td X
			td V, L
		tr
			td 3
			td Z
			td N, K
		tr
			td 4
			td M
			td W, Σ
		tr
			td Decimal
			td Oiximal
			td Alternate


script
	include oixzm.js
