




// my-template.jade
extends my-layout

block head
	script(src="myfile.js")

block content
	h1 My page








// my-layout.jade
doctype 5
html
	head
		title My title
		block head
	body
		#content
			block content






section#next
	h2 Unsolved Cases|||for post, slug in public.cases._data|||p: a(href="cases/#{slug}")= post.title
	h2 Posts|||for post, slug in public.posts._data|||p: a(href="posts/#{slug}")= post.title

	h2 Directory
	pre #{ JSON.stringify(public, null, '\t') }

	//.gallery:::for image in public.gallery.small._contents:::img(src="gallery/small/#{ image net}").piece
