#category
  //h3 INDEX

  //ul
    //each value, key in public.section
      //if (['_contents', '_data'].indexOf(key) == -1)				
        //li: a(href="section/#{key}").top= key 
          //each thing, other in public.section[key]
            //if (['_contents', '_data'].indexOf(other) == -1)
              //li: a(href="section/#{key}/#{other}")= other 

  h3 EXPERIMENTS
  ul
    li
      a(href="../../section/edit") Unno Edit
    li
      a(href="../../section/graphs") Graphdown
    li
      a(href="../../section/oiximal") Oiximal

    li
      a(href="../../section/zen") Zen RGB

  h3 WRITINGS
  ul
    li
      a(href="../../section/progress") Progress
    li
      a(href="../../section/statement") Statement
