mixin bar(url, title, icon)
	li
		a(href=url title=title)
			span.label=title
			span(class=icon)

nav.noPrint
	logo(title="43210"): a(href="/") MZXIO
	links
		ul
			li
				a(title="INDEX")#more
					span.label INDEX
					span(class="vox-more")

			//+bar("", "CONTRAST", "vox-contrast")
			//+bar("", "MORE", "vox-more")
			//+bar("section/here", "HERE", "vox-inked-right")
			//+bar("section/progress", "PROGRESS", "vox-inked-left")
			//+bar("section/statement", "ARTIST STATEMENT", "vox-info")


script.
	document.getElementById("more").addEventListener("click", function() {
		document.getElementById("index").classList.toggle("collapsed")
	}, false)
