nav
	#logo(title="43210"): a(href="/") MZXIO
	#links
		ul
			li: a(title="CHANGE THEME")#contrast: span.vox-contrast ?
			li: a(href="#" title="GO HOME"): span.vox-diamond HOME
			li: a(href="#" title="BROWSE CATEGORIES"): span.vox-category BROWSE
			li: a(href="#" title="SEARCH TAGS"): span.vox-tag SEARCH
			li: a(href="#" title="MORE OPTIONS"): span.vox-more MORE
