nav
	#logo(title="43210"): a(href="/") MZXIO
	#links
		ul
			//li: a(title="CHANGE THEME")#contrast: span.vox-contrast
			//li: a(href="#" title="GO HOME"): span.vox-diamond
			//li: a(href="#" title="BROWSE CATEGORIES"): span.vox-category
			//li: a(href="#" title="SEARCH TAGS"): span.vox-tag
			li: a(href="https://twitter.com/mzxio" title="MORE OPTIONS"): span.vox-more
