nav.fixed
	#logo(title="43210"): a(href="/") MZXIO
	#links
		ul
			li: a(href="#")#contrast: span.vox-contrast
			//li: a(rel="index-dark").styleswitch styles1
			//li: a(rel="index-light").styleswitch styles2
		//ul
			li: a(href="#" title="HOME"): span.vox-diamond 
			li: a(href="#" title="MORE"): span.vox-more
			li: a(href="#" title="TAGS"): span.vox-tag
			li: a(href="#" title="CATEGORIES"): span.vox-category

