nav
	#logo(title="43210"): b: a(href="/") MZXIO
	#links
		ul
			li
				a(href="#" onClick="$('#longer').load('front');" title="BEGINNING")
					span.label BEGINNING
					span.vox-diamond

			li
				a(href="#" onClick="$('#longer').load('demo-jade');" title="DEMO PAGE")
					span.label DEMO PAGE
					span.vox-tag

			li
				a(href="#" onClick="$('#longer').load('section/info');" title="INFO")
					span.label INFO
					span.vox-info

			li
				a(href="#" onClick="$('#longer').load('section/manuscript/contents');" title="BOOK")
					span.label BOOK
					span.vox-fire
			li
				a(href="#" onClick="$('#longer').load('section/twitter');" title="MORE OPTIONS")
					span.label MORE OPTIONS
					span.vox-more
