
nav
	#logo(title="43210"): a(href="/") MZXIO
	links
		ul
			li
				a(href="front" title="BEGINNING")
					span.label BEGINNING
					span.vox-diamond
			li
				a(href="demo-jade" title="DEMO JADE")
					span.label DEMO JADE
					span.vox-tag
			li
				a(href="section/info" title="INFO")
					span.label INFO
					span.vox-info
			li
				a(href="section/manuscript/contents" title="BOOK")
					span.label BOOK
					span.vox-fire
			li
				a(href="section/odessa" title="ODESSA")
					span.label ODESSA
					span.vox-category
			li
				a(href="section/twitter" title="MORE OPTIONS")
					span.label MORE OPTIONS
					span.vox-more
