
section
	h1 You are here.
	//iframe(src="section/nsfw")

include slides

section.interstice
	blockquote 
		p In the void, desert, frontier. 
		p Where and when? An infinite desolate nothing.
		p Your choices make this land. Potential is there, just out of reach. Life is hidden, revealed if you search.
		// 451451
		/// IOZMXIZOI
		cite — IMO XM XOI
