
section
	h1 You are here.
	//iframe(src="../../section/nsfw/nsfw.html")

include slides

section.interstice
	blockquote In the void, desert, frontier. Where and when? An infinite desolate nothing. Your choices make this land. Potential is there, just out of reach. Life is hidden, revealed if you search.
		// 451451
		/// IOZMXIZOI
		cite IMO XM XOI
