// this load order is bad, needs to come in before index css

link(rel="stylesheet" href="../../style/library/swiper-3.3.1.min.css")
script(src="../../script/library/swiper-3.3.1.min.js")


.swiper-container
  .swiper-wrapper
    for image in public.section.here.gallery._contents
      .swiper-slide
        //p what happens if.....
        img(src="../../section/here/gallery/#{image}").swiper-lazy
        .swiper-lazy-preloader.swiper-lazy-preloader-white
  .swiper-button-next
  .swiper-button-prev


script
  include swiper-defaults.js
