
style.
  .card {
    .border {}
    .peek {}
    .pip {}
    .art {}
    .description {}
  }

section
  h1 Archetypes deck.

  // card container
  .card

    // outer border
    .border

    // corner symbols
    .peek

    // repeated symbols
    .pips
    
    // art
    .art

    // description
    .description

  script.
    // pound through a big list iterating out all the data into actual cards
