style.
  table td {
    border: none;
  }
  input[type=button] {
   width: 100%;
  }

section.interstice
  table
    tr
      td(colspan="4")
        input(type="text" value="" id="text" readonly="readonly" placeholder="------")
    tr
      td: input(type="button" value="C").pad
      td: input(type="button" value="8").pad
      td: input(type="button" value="4").pad
      td: input(type="button" value="0").pad
    tr
      td: input(type="button" value="D").pad
      td: input(type="button" value="9").pad
      td: input(type="button" value="5").pad
      td: input(type="button" value="1").pad
    tr
      td: input(type="button" value="E").pad
      td: input(type="button" value="A").pad
      td: input(type="button" value="6").pad
      td: input(type="button" value="2").pad
    tr
      td: input(type="button" value="F").pad
      td: input(type="button" value="B").pad
      td: input(type="button" value="7").pad
      td: input(type="button" value="3").pad
    tr
      td(colspan="2"): input(type="button" value="clear").pad
      td(colspan="2"): input(type="button" value="enter").pad

script
  include zen.js
