style.
  table td {
    border: none;
  }
  input[type=text],
  input[type=button] {
   width: 100%;
   user-select: none;
  }
  #color {
    padding: 1em;
    text-align: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: -1;
    transition: background-color 0.3s;
  }
  #colorCode {
    background-color: rgba(0,0,0,0.5);
    position: absolute;
    bottom: 1em;
    right: 1em;
  }


.fullHeight
  table.centered
    tr
      td(colspan="4")
        input(type="text" value="" id="text" readonly="readonly" placeholder="------")
    tr
      td: input(type="button" value="C").pad
      td: input(type="button" value="8").pad
      td: input(type="button" value="4").pad
      td: input(type="button" value="0").pad
    tr
      td: input(type="button" value="D").pad
      td: input(type="button" value="9").pad
      td: input(type="button" value="5").pad
      td: input(type="button" value="1").pad
    tr
      td: input(type="button" value="E").pad
      td: input(type="button" value="A").pad
      td: input(type="button" value="6").pad
      td: input(type="button" value="2").pad
    tr
      td: input(type="button" value="F").pad
      td: input(type="button" value="B").pad
      td: input(type="button" value="7").pad
      td: input(type="button" value="3").pad
    tr
      td(colspan="2"): input(type="button" value="clear").pad
      td(colspan="2"): input(type="button" value="enter").pad

#color
code#colorCode

// failed
// unlock

script
  include zen.js
