//link(rel="stylesheet" href="reset.css")
link(rel="stylesheet" href="style.css")

.book

  .page.cover 
    img(src='dispersion.jpg' alt='|:|')
 
  .page.noscreen
    p (this page intentionally left blank)

  .page.noprint

  .page
    h1 DISP ERS ING.

  .page
    p something to say, forgotten words. where?
    //p what happens if i add another paragraph? what if it just keeps going? on and on and on and on and on and on and on and on and on and on and on and on and on and on and on and on and on and on forever and ever and ever and ever and ever and ever and ever and ever and ever and ever and ever and ever for all time? well apparently not. but when we crush a lot of text on the page how does it handle overflow? should it break onto a new page or stop? we're so close to finding out. not far now. i can almost smell the sea.

  .page
    img(src="tumblr_nf9hty6qEf1qz7igvo1_1280.jpg")

  .page
    img(src='tumblr_n21wjyhr4I1qz7igvo1_1280.jpg')

  .page
    p begin with thoughts, sinister old friends.

  .page
    p "a triumph," said in great passion.

  .page.inverted
    h1 fin.


// fun links
//.noprint
  a(href='javascript:window.print()') Print
  //a(href="http://www.prestophoto.com/help/index.php?structure_id=476" target='_blank') Create &rarr;
