link(rel="stylesheet" href="reset.css")
link(rel="stylesheet" href="style.css")

.book

  .page.cover 
    img(src='https://s3-us-west-2.amazonaws.com/s.cdpn.io/102827/dispersion.jpg' alt='|:|')
 
  .page.noscreen
    p (this page intentionally left blank)

  .page.noprint

  .page
    h1 DISP ERS ING.

  .page
    p something to say, forgotten words. where?

  .page
    img(src="http://40.media.tumblr.com/a0ad5c65f0827aa14714cc11b66a15a0/tumblr_nf9hty6qEf1qz7igvo1_1280.jpg")

  .page
    img(src='https://s3-us-west-2.amazonaws.com/s.cdpn.io/102827/tumblr_n21wjyhr4I1qz7igvo1_1280.jpg')

  .page
    p begin with thoughts, sinister old friends.

  .page
    p "a triumph," said in great passion.

  .page.black.white
    h1 fin.


// fun links
a(href='javascript:window.print()') Print
//a(href="http://www.prestophoto.com/help/index.php?structure_id=476" target='_blank') Create &rarr;
